
*{
    box-sizing: border-box;
    margin: 0;	
    padding: 0;
}
html{
    font-size: 62.5%;
}



//Pseudo Classes
//Every link will be hotpink
a:link{
    color: hotpink;
}
//Every link that has been visited is tomato
a:visited{
    color: tomato;
}
//Every link that u hover is blue
a:hover{
    color: blue;
}
//Every link that does not have the firstName class will be aqua
a:not(.firstName){
    color: aqua;
}

//This lets me put certain styles to the children of a class element in this case container
.container div:nth-child(1){
    color: green;
}
.container div:nth-child(2){
    color: red;
}
.container div:nth-child(3){
    color: orange;
}


//Pseudo elements

.App::before{
    content: "BEFORE";
}

.App::after{
    content: "AFTER";
}


.circle{
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.shadow{
    background-color: blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.shadow:hover{
    transform: translate(30px, -15px);
}