
*{
    box-sizing: border-box;
    margin: 0;	
    padding: 0;
}
html{
    font-size: 62.5%;
}



//Pseudo Classes
//Every link will be hotpink
a:link{
    color: hotpink;
}
//Every link that has been visited is tomato
a:visited{
    color: tomato;
}
//Every link that u hover is blue
a:hover{
    color: blue;
}
//Every link that does not have the firstName class will be aqua
a:not(.firstName){
    color: aqua;
}

//This lets me put certain styles to the children of a class element in this case container
.container div:nth-child(1){
    color: green;
}
.container div:nth-child(2){
    color: red;
}
.container div:nth-child(3){
    color: orange;
}


//Pseudo elements

.App::before{
    content: "BEFORE";
}

.App::after{
    content: "AFTER";
}


.circle{
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.shadow{
    background-color: blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}

.shadow:hover{
    transform: translate(30px, -15px);
}

.squares{
    display: flex;
    margin-top: 1.5rem;
}
.squares div{
    width: 5rem;
    height: 5rem;
    background-color: green;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem .5rem;
}

.rotate:hover{
    transform: rotate(45deg);
    //transform: rotateX(45deg);
    //transform: rotateY(45deg);
}
.scale:hover{
    transform:scale(1.25);
    //transform:scaleX(1.25);
    //transform:scaleY(1.25);
}
.skew:hover{
    transform: skew(20deg);
    //transform: skew(20deg, 20deg);
}

.transformOrigin{
    transform-origin: right top;
}

.perspective-container{
    width: 7rem;
    height: 7rem;
    border: .5rem solid green;
    margin: 1rem 2rem;
    position: relative;
    perspective: 10rem;
}

.perspective-item{
    position: absolute;
    opacity: .5;
    background-color: papayawhip;
    border: .3rem solid pink;
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}