


.WillChange-container{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.WillChange-container button{
    //width: 5rem;
    //height: 2rem;
    background-color: red;
    border-radius: .7rem;
    margin: 0 1rem;
    color: white;
    border: none;
    padding: 1rem 2rem;
}

 .WillChange-Better{
    will-change: transform;
    transition: transform 500ms;
 }

 .WillChange-Better:hover{
    transform: translateY(.5rem);
}


.WillChange-Worst{
    will-change: margin-top;
    transition: margin-top 500ms
} 

.WillChange-Worst:hover{
    margin-top:5px;
}